/*==============================================================================
Feel free to add your own header, but please keep the following:
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/
Concrete v2.0.3
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
==============================================================================*/

window.concrete = window.concrete || {};

// perhaps turn into an assign in function?
concrete.strings = {
  soldOut: "{{ 'product.sold_out' | t }}",
  addToCart: "{{ 'product.add_to_cart' | t }}",
  unavailable: "{{ 'product.unavailable' | t }}"
};

concrete.urlParams = {};

/*================ Concrete ================*/
// =require concrete/cache.js
// =require concrete/utils.js
// =require concrete/a11y.js
// =require concrete/currency.js
// =require concrete/sections.js
// =require concrete/images.js
// =require concrete/collection.js
// =require concrete/variants.js
// =require concrete/product.js
// =require concrete/empty-section.js


// Initialize on document ready
$(document).ready(function() {
  // Register sections js
  var sections = new concrete.Sections();
  sections.register('product', concrete.Product);
  sections.register('collection', concrete.Collection);
});

// No More jQuery
document.addEventListener("DOMContentLoaded", function() {
  // Not Function
  function not(selector, filter) {
    try {
      return document.querySelectorAll(selector + ":not(" + filter + ")");
    } catch (e) {
      console.log("something goes wrong");
      return null;
    }
  }

  // Has Class Function
  function hasClass(el, cls) {
    return (' ' + el.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }

  // Unique Array
  Array.prototype.unique = function() {
    return this.filter(function (value, index, self) {
      return self.indexOf(value) === index;
    });
  }

  // Get AJAX
  function getAjax(url, success) {
    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
    xhr.open('GET', url);
    xhr.onreadystatechange = function() {
        if (xhr.readyState>3 && xhr.status==200) success(xhr.responseText);
    };
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.send();
    return xhr;
  }

  // Header Menu slider
  var headerMenu = document.querySelectorAll('.header-menu.swiper-container');
  var headerMenuOptions = {
    slidesPerView: 7,
    spaceBetween: 25,
    mousewheel: true,
    keyboard: true,
    freeMode: true
  };
  for (var i = 0; i < headerMenu.length; i++) {
    var headerMenuSwiper = new Swiper(headerMenu[i], headerMenuOptions);
  }
  var headerMenuItems = document.querySelectorAll('.main-menu .menu-item');
  for (var i = 0; i < headerMenuItems.length; i++) {
    headerMenuItems[i].addEventListener('mouseover', function(e) {
      var hoveredTarget = e.target.closest('li');
      var dataTarget = hoveredTarget.getAttribute('data-handle');
      var sliderTarget = document.querySelector('.menu-slider[data-handle="'+dataTarget+'"]');
      if (sliderTarget) {
        var otherOpenNavs = document.querySelector('.menu-slider.js-slider-open');
        if (otherOpenNavs != null) {
          otherOpenNavs.velocity({ height: 0 }, { duration: 500 });
          otherOpenNavs.classList.remove('js-slider-open');
        }
        var openMenu = { height: 295 };
        var duration = { duration: 500 };
        sliderTarget.classList.add('js-slider-open');
        sliderTarget.velocity(openMenu, duration);
      }
    });
  }
  var openedSlider = document.querySelectorAll('.menu-slider');
  for (var i = 0; i < openedSlider.length; i++) {
    openedSlider[i].addEventListener('mouseout', function(event) {
      var e = event.toElement || event.relatedTarget;
      while (e && e.parentNode && e.parentNode != window) {
        if (e.parentNode == this||  e == this) {
          if(e.preventDefault) e.preventDefault();
          return false;
        }
        e = e.parentNode;
      }
      var closeOptions = { height: 0 };
      var duration = { duration: 0 };
      this.classList.remove('js-slider-open');
      this.velocity(closeOptions, duration);
    });
  }

  // Search function
  var headerSearch = document.querySelectorAll('.js-search');
  for (var i = 0; i < headerSearch.length; i++) {
    headerSearch[i].addEventListener('click', function(e) {

      var target = e.target;
      var mbTarget = document.querySelector('.mobile-search');
      var mbTargetImg = document.querySelector('.mobile-search img');
      var dkTarget = document.querySelector('.desktop-search');
      var dkTargetImg = document.querySelector('.desktop-search img');
      var dur = { duration: 300 };
      function searchOpenCheck() {
        var form = document.querySelector('.theme-header form');
        var isOpen = form.classList.contains('js-open');
        if (isOpen === false) {
          form.classList.add('js-open');
          form.velocity({ height: '110px' }, dur);
        } else {
          form.classList.remove('js-open');
          form.velocity({ height: 0 }, dur);
        }
      }

      if (target == mbTarget || target == mbTargetImg) {
        searchOpenCheck();
      } else if (target == dkTarget || dkTargetImg) {
        searchOpenCheck();
      }
    });
  }

  // Mobile Menu
  var hamburger = document.querySelector('.js-mobile-menu');
  var mobileMenu = document.querySelector('.mobile-menu');
  hamburger.addEventListener('click', function(e) {
    var target = e.target;
    if (target.tagName === 'LABEL') {
      var isOpen = mobileMenu.classList.contains('js-open');
      var dur = { duration: 300 };
      if (isOpen === false) {
        mobileMenu.classList.add('js-open');
        mobileMenu.velocity({ width: '80%' }, dur);
      } else {
        mobileMenu.classList.remove('js-open');
        mobileMenu.velocity({ width: 0 }, dur);
      }
    }
  });

  // Hero Slider
  var findHero = document.querySelectorAll('.hero-slider');
  if (findHero.length > 0) {

    var swiperSlide = document.querySelectorAll('.hero.swiper-container .swiper-slide');
    var options = {}

    if (swiperSlide.length == 1) {
      options = {
        loop: false,
        autoplay: false
      }
    } else {
      options = {
        direction: 'horizontal',
        loop: true,

        mousewheel: true,
        keyboard: true,

        speed: 700,
        slidesPerView: 1,
        autoplay: {
          delay: 5000
        }
      }
    }
    var heroSwiper = new Swiper('.hero.swiper-container', options);
  }

  // Collection slider
  var findCollectionSlider = document.querySelectorAll('.collection-slider');
  if (findCollectionSlider.length > 0) {
    var collectionSlider = document.querySelector('.collection-slider .swiper-container');
    var numOfSlides = collectionSlider.getAttribute('data-slides');
    var options = {
      slidesPerView: numOfSlides,
      direction: 'horizontal',
      mousewheel: true,
      keyboard: true,
      freeMode: true,
      scrollbar: {
        el: '.swiper-scrollbar',
        draggable: true,
        hide: false
      },
      breakpoints: {
        425: {
          slidesPerView: 2
        },
        768: {
          slidesPerView: 3
        }
      }
    };
    var collectionSwiper = new Swiper(collectionSlider, options);
  }

  // Instagram feed
  var findIgFeed = document.querySelectorAll('.instagram-feed');
  if (findIgFeed.length > 0) {
    var igFeed = document.querySelector('.instagram-feed');
    var userId = igFeed.getAttribute('data-userid');
    var clientId = igFeed.getAttribute('data-clientid');
    var accessToken = igFeed.getAttribute('data-accesstoken');
    var limit = igFeed.getAttribute('data-photolimit');

    {% raw %}
    var igTemplate = '<div class="swiper-slide">'
                    +'<a href="{{link}}" target="_blank" id="{{id}}">'
                    +'<img src="{{image}}" />'
                    +'</a>'
                    +'</div>';
    {% endraw %}

    var instafeed = new Instafeed({
      get: 'user',
      userId: userId,
      clientId: clientId,
      accessToken: accessToken,
      resolution: 'standard_resolution',
      template: igTemplate,
      sortBy: 'most-recent',
      limit: limit,
      links: false,
      after: function() {
        var igOptions = {
          direction: 'horizontal',
          slidesPerView: 4,
          spaceBetween: 25,
          slidesPerColumn: 1,
          mousewheel: true,
          keyboard: true,
          freeMode: true,
          breakpoints: {
            425: {
              slidesPerView: 2,
              slidesPerColumn: 1
            },
            768: {
              slidesPerView: 3
            }
          }
        };
        var igSwiperContainer = document.querySelector('.instagram-feed .swiper-container');
        var igSwiper = new Swiper(igSwiperContainer, igOptions);
      }
    });
    instafeed.run();
  }

  // Collection Page Functions
  var collectionPg = document.querySelectorAll('.collection-pg');
  if (collectionPg.length > 0) {
    // Consider revising to remove error messages
    var itemsWidth = document.querySelectorAll('.items-width');
    for (var i = 0; i < itemsWidth.length; i++) {
      itemsWidth[i].addEventListener('click', function(e) {
        var target = e.target.closest('span');

        // Icon Functions
        var icon = target.children[0];
        var iElem = icon.children[0];
        var isIconDown = iElem.classList.contains('fa-chevron-down');
        var allIcons = document.querySelectorAll('.filter-cat-heading i');
        var isNavDown = target.nextElementSibling.classList.contains('js-nav-open');

        function fixIcons() {
          for (var i = 0; i < allIcons.length; i++) {
            if (allIcons[i].classList.contains('fa-chevron-up')) {
              allIcons[i].classList.remove('fa-chevron-up');
              allIcons[i].classList.add('fa-chevron-down');
            }
          }
        }
        if (isNavDown === false) {
          if (isIconDown === true) {
            fixIcons();
            iElem.classList.remove('fa-chevron-down');
            iElem.classList.add('fa-chevron-up');
          }
        } else {
          if (isIconDown === false) {
            iElem.classList.add('fa-chevron-down');
            iElem.classList.remove('fa-chevron-up');
          }
        }

        function outerHeight(el) {
          var height = el.offsetHeight;
          var style = el.currentStyle || getComputedStyle(el);

          height += parseInt(style.marginTop) + parseInt(style.marginBottom);
          return height;
        }

        // Show Menu
        var targetUl = target.nextElementSibling;
        var isUlOpen = targetUl.classList.contains('js-nav-open');
        var otherOpenNavs = document.querySelectorAll('ul.js-nav-open');
        var jsNav = document.querySelector('ul.js-nav-open');
        var jsNavHeight = outerHeight(targetUl);
        var openOptions = { height: jsNavHeight, opacity: 1, visibility: 'visible' };
        var closeOptions = { height: 'auto', opacity: 0, visibility: 'hidden' };
        var duration = { duration: 500 };
        if (isUlOpen === false) {
          targetUl.classList.add('js-nav-open');
          targetUl.velocity(openOptions, duration);
          if (otherOpenNavs.length == 1) {
            jsNav.classList.remove('js-nav-open');
            jsNav.velocity(closeOptions, duration);
          }
        } else {
          targetUl.classList.remove('js-nav-open');
          targetUl.velocity(closeOptions, duration);
        }
      });
    }
    // URL Changes
    var checkboxes = document.querySelectorAll('.checked');
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].addEventListener('click', function(e) {
        var target = e.target;
        var targetData = target.value;
        var url = window.location.href;
        function aContainsB (a, b) {
          return a.indexOf(b) >= 0;
        }
        function aMissingB (a, b) {
          return a.indexOf(b) == -1;
        }
        if (url.endsWith('/')) {
          url += targetData;
          window.location.href = url;
        } else if (url.endsWith('') && aMissingB(url, 'band-size') && aMissingB(url, 'color') && aMissingB(url, 'cup-size') && aMissingB(url, 'price')) {
          url += '/'+targetData;
          window.location.href = url;
        } else if (aContainsB(url, 'band-size') || aContainsB(url, 'color') || aContainsB(url, 'cup-size') || aContainsB(url, 'price')) {
          url += '+'+targetData;
          window.location.href = url;
        }
      });
    }

    // Collection Swatches
    var swatches = document.querySelectorAll('.swatches ul');
    for (var i = 0; i < swatches.length; i++) {
      swatches[i].addEventListener('click', function(e) {
        var target = e.target;
        if (target.tagName === 'A') {
          var targetDiv = target.closest('div');
          var parent = targetDiv.parentNode;
          var dataTag = target.getAttribute('data-tag');
          var isActive = target.classList.contains('active');
          var allFilters = parent.querySelector('.color-filter.active');

          if (isActive === false) {
            allFilters.classList.remove('active');
            target.classList.add('active');
          }

          getAjax('{{shop.url}}/products/'+dataTag, function(data) {
            var div = document.createElement('div');
            div.innerHTML = data;
            var getPhoto = div.querySelector('#ProductPhoto img');
            var photoSrc = getPhoto.src;
            var targetImg = parent.querySelector('.image img');
            targetImg.setAttribute('srcset', photoSrc);
            targetImg.src = photoSrc;
          });
        }
      });
    }
  }

  // Gift Certificate Page
  var giftCertificate = document.querySelectorAll('.gift-certificate');
  if (giftCertificate.length > 0){
    console.log(giftCertificate);
    var addGiftToCart = document.querySelector('#giftAdd');
    addGiftToCart.addEventListener('click', function(e) {
      // Amount
      var amountTag = document.querySelector('.amount select');
      var amount = amountTag.options[amountTag.selectedIndex].value;
      // Quantity
      var qtyTag = document.querySelector('.quantity select');
      var quantity = qtyTag.options[qtyTag.selectedIndex].value;
      // Name
      var name = document.querySelector('.name').value;
      // Email
      var email = document.querySelector('.email').value;
      // Recipient Name
      var recipientName = document.querySelector('.recipient-name').value;
      // Recipient Email
      var recipientEmail = document.querySelector('.recipient-email').value;
      // Recipient Name
      var message = document.querySelector('.message').value;
      // Deliver Virtually
      var delVirtual = document.querySelector('#deliverVirtual').checked;
      // Deliver Mail
      var delMail = document.querySelector('#deliverMail').checked;
      // Check if fields are checked
      if (amount === 'Choose Amount' || quantity === 'Quantity' || name === '' || email === '' || recipientName === '' || recipientEmail === '' || message === '') {
        alert('Some fields are missing!');
        e.stopPropagation();
      } else {
        // Check if Delivery method is checked
        if (delVirtual === true && delMail === true) {
          alert('Cannot have both delivery methods checked');
          e.stopPropagation();
        } else if (delVirtual === false && delMail === false) {
          alert('Please pick a delivery method');
          e.stopPropagation();
        } else {
          var lineItems = {
            "Name": name,
            "Email": email,
            "Recipient's Name": recipientName,
            "Recipient's Email": recipientEmail,
            "Message": message,
            "Deliver virtually?": delVirtual,
            "Deliver by mail?": delMail
          };
          var errChk = {
            "success": function(data, textStatus, jqXHR) {
              console.log('Added!');
            },
            "error": function(jqXHR, textStatus, errorThrown) {
              alert('Error: '+errorThrown+'!');
            }
          };
          CartJS.addItem(amount, quantity, lineItems, errChk);
        }
      }
    });
  }

  // Schedule a Fitting Page
  var schedFittingPg = document.querySelectorAll('.schedule-a-fitting');
  if (schedFittingPg.length > 0) {
    console.log(schedFittingPg);
    // Triggers/Buttons
    var telTrigger = document.querySelector('.btn[data-trigger="tel"]');
    var inStoreTrigger = document.querySelector('.btn[data-trigger="in-store"]');
    var skypeBtn = document.querySelector('.btn-skype');
    var closeBtn = document.querySelector('.btn-close');
    var prevBtn = document.querySelector('.btn-prev');
    var telDiv = document.querySelector('.telephone');
    var inStoreDiv = document.querySelector('.in-store');

    // Velocity Options
    var open = { height: '200px' };
    var inStoreOpen = { height: '1300px' };
    var close = { height: 0 };
    var noOpacity = { opacity: 0 };
    var opacity = { opacity: 1 };
    var noVisible = { visibility: 'hidden' };
    var visible = { visibility: 'visible' };
    var duration = { duration: 700 };

    telTrigger.addEventListener('click', function() {
      inStoreTrigger.velocity(noOpacity, noVisible, duration);
      skypeBtn.velocity(noOpacity, noVisible, duration);
      telDiv.velocity(open, duration);
    });

    closeBtn.addEventListener('click', function() {
      inStoreTrigger.velocity(opacity, visible, duration);
      skypeBtn.velocity(opacity, visible, duration);
      telDiv.velocity(close, duration);
    });

    inStoreTrigger.addEventListener('click', function() {
      telTrigger.velocity(noOpacity, noVisible, duration);
      skypeBtn.velocity(noOpacity, noVisible, duration);
      inStoreDiv.velocity(inStoreOpen, duration);
    });

    prevBtn.addEventListener('click', function() {
      telTrigger.velocity(opacity, visible, duration);
      skypeBtn.velocity(opacity, visible, duration);
      inStoreDiv.velocity(close, duration);
    });
  }

  // Contact Us
  var contactPg = document.querySelectorAll('.contact-us-page');
  if (contactPg.length > 0) {
    console.log(contactPg);
    var phoneBtn = document.querySelector('.call');
    var phonePopup = document.querySelector('.phone-popup');
    var closeBtn = document.querySelector('.btn-close');
    var emailBtn = document.querySelector('.email');
    var emailForm = document.querySelector('.email-form');
    var dropdown = { height: '700px' };
    var slideUp = { height: 0 };
    var showOpts = { visibility: 'visible', opacity: 1 };
    var hideOpts = { opacity: 0, visibility: 'hidden' };
    var duration = { duration: 700 };

    phoneBtn.addEventListener('click', function() {
      phonePopup.velocity(showOpts, duration);
    });

    closeBtn.addEventListener('click', function() {
      phonePopup.velocity(hideOpts, duration);
    });

    emailBtn.addEventListener('click', function() {
      var isOpen = emailForm.classList.contains('js-open');
      if (isOpen === true) {
        emailForm.classList.remove('js-open');
        emailForm.velocity(slideUp, duration);
      } else {
        emailForm.classList.add('js-open');
        emailForm.velocity(dropdown, duration);
      }
    });
  }

  // Customer Service
  var customerServicePg = document.querySelectorAll('.customer-service');
  if (customerServicePg.length > 0) {
    console.log(customerServicePg);
    // Desktop Functions
    var tabItem = document.querySelectorAll('.tab-item');
    for (var i = 0; i < tabItem.length; i++) {
      tabItem[i].addEventListener('click', function(e) {
        var target = e.target.closest('li');
        var tabItemIndex = Array.prototype.slice.call(target.parentNode.children).indexOf(target);
        var activeTabItem = document.querySelector('.tab-item.active');
        var activeTabPanel = document.querySelector('.tab-panel.active');
        var findRightPanel = document.querySelectorAll('.tab-panel')[tabItemIndex];

        activeTabItem.classList.remove('active');
        target.classList.add('active');
        activeTabPanel.classList.remove('active');
        findRightPanel.classList.add('active');
      });
    }
    var question = document.querySelectorAll('.question');
    for (var i = 0; i < question.length; i++) {
      question[i].addEventListener('click', function(e) {
        var target = e.target.closest('h3');
        var iEl = target.childNodes[0];
        var pane = target.nextElementSibling;
        if (iEl.classList.contains('fa-plus')) {
          iEl.classList.remove('fa-plus');
          iEl.classList.add('fa-minus');
        } else {
          iEl.classList.add('fa-plus');
          iEl.classList.remove('fa-minus');
        }
        var isActive = pane.classList.contains('active');
        if (isActive === false) {
          pane.classList.add('active');
        } else {
          pane.classList.remove('active');
        }
      });
    }

    // Mobile Functions
    var mbAccordion = document.querySelectorAll('.accordion');
    for (var i = 0; i < mbAccordion.length; i++) {
      mbAccordion[i].addEventListener('click', function(e) {
        var target = e.target.closest('h3');
        var icon = target.childNodes[0];
        var isPlus = icon.classList.contains('fa-plus');

        if (isPlus === true) {
          icon.classList.remove('fa-plus');
          icon.classList.add('fa-minus');
        } else {
          icon.classList.add('fa-plus');
          icon.classList.remove('fa-minus');
        }

        var mbPane = target.nextElementSibling;
        var isMbPaneActive = mbPane.classList.contains('active');
        if (isMbPaneActive === false) {
          mbPane.classList.add('active');
        } else {
          mbPane.classList.remove('active');
        }
      });
    }
  }

  // Privacy Page
  var privacyPg = document.querySelectorAll('.privacy-page');
  if (privacyPg.length > 0) {
    var tabItems = document.querySelectorAll('.tab-item');
    var tabPanels = document.querySelectorAll('.tab-panel');
    for (var i = 0; i < tabItems.length; i++) {
      tabItems[i].addEventListener('click', function(e) {
        var target = e.target.closest('li');
        var targetData = target.getAttribute('data-tabitem');
        var activeTabItem = document.querySelector('.tab-item.active');
        var activeTabPanel = document.querySelector('.tab-panel.active');
        var findRightPanel = document.querySelector('.tab-panel[data-tabpanel="'+targetData+'"]');

        activeTabItem.classList.remove('active');
        target.classList.add('active');
        activeTabPanel.classList.remove('active');
        findRightPanel.classList.add('active');

        var panelBlock = findRightPanel.childNodes[1];
        var iElem = panelBlock.childNodes[0];
        var isPlus = iElem.classList.contains('fa-plus');
        var panelPane = findRightPanel.childNodes[3];
        var isPaneActive = panelPane.classList.contains('active');

        if (isPlus === true) {
          iElem.classList.remove('fa-plus');
          iElem.classList.add('fa-minus');
        } else {
          iElem.classList.add('fa-plus');
          iElem.classList.remove('fa-minus');
        }

        if (isPaneActive === false) {
          panelPane.classList.add('active');
          panelPane.velocity({ visibility: 'visible', opacity: 1 }, { duration: 700 });
        } else {
          panelPane.classList.remove('active');
          panelPane.velocity({ visibility: 'hidden', opacity: 0 }, { duration: 700 });
        }
      });
    }
    for (var i = 0; i < tabPanels.length; i++) {
      tabPanels[i].addEventListener('click', function(e) {
        var target = e.target.closest('h3');
        var targetData = target.parentNode.getAttribute('data-tabpanel');
        var activeTabItem = document.querySelector('.tab-item.active');
        var activeTabPanel = document.querySelector('.tab-panel.active');
        var findRightTabItem = document.querySelector('.tab-item[data-tabitem="'+ targetData +'"]');

        activeTabItem.classList.remove('active');
        activeTabPanel.classList.remove('active');
        target.parentNode.classList.add('active');
        findRightTabItem.classList.add('active');

        var panelBlock = target;
        var iElem = panelBlock.childNodes[0];
        var isPlus = iElem.classList.contains('fa-plus');
        var pane = panelBlock.nextElementSibling;
        var isPaneActive = pane.classList.contains('active');

        if (isPlus === true) {
          iElem.classList.remove('fa-plus');
          iElem.classList.add('fa-minus');
        } else {
          iElem.classList.add('fa-plus');
          iElem.classList.remove('fa-minus');
        }

        if (isPaneActive === false) {
          pane.classList.add('active');
          pane.velocity({ visibility: 'visible', opacity: 1 }, { duration: 700 });
        } else {
          pane.classList.remove('active');
          pane.velocity({ visibility: 'hidden', opacity: 0 }, { duration: 700 });
        }
      });
    }
  }

  // Fit Guide Page
  var fitGuidePg = document.querySelectorAll('.fit-guide-page');
  if (fitGuidePg.length > 0) {
    var getNav = document.querySelector('.tab-item.active').getAttribute('data-active-nav');
    document.getElementById('js-nav').innerHTML = getNav;

    var tabItem = document.querySelectorAll('.tab-item');
    for (var i = 0; i < tabItem.length; i++) {

      tabItem[i].addEventListener('click', function(e) {
        var target = e.target.closest('li');
        var targetData = target.getAttribute('data-active-nav');
        var tabItemIndex = Array.prototype.slice.call(target.parentNode.children).indexOf(target);
        var activeTabItem = document.querySelector('.tab-item.active');
        var activeTabPanel = document.querySelector('.tab-panel.active');
        var findRightPanel = document.querySelectorAll('.tab-panel')[tabItemIndex];

        activeTabItem.classList.remove('active');
        target.classList.add('active');
        activeTabPanel.classList.remove('active');
        findRightPanel.classList.add('active');

        document.getElementById('js-nav').innerHTML = targetData;
      });
    }

    var accordion = document.querySelectorAll('.accordion');
    for (var i = 0; i < accordion.length; i++) {
      accordion[i].addEventListener('click', function(e) {
        var target = e.target.closest('h3');
        var iElem = target.childNodes[0];
        var pane = target.nextElementSibling;
        if (iElem.classList.contains('fa-plus')) {
          iElem.classList.remove('fa-plus');
          iElem.classList.add('fa-minus');
        } else {
          iElem.classList.add('fa-plus');
          iElem.classList.remove('fa-minus');
        }
        var isActive = pane.classList.contains('active');
        if (isActive === false) {
          pane.classList.add('active');
        } else {
          pane.classList.remove('active');
        }
      });
    }

    var topGalleryDiv = document.querySelector('.gallery-top');
    var thumbGalleryDiv = document.querySelector('.gallery-thumbs');
    var topOptions = {
      spaceBetween: 10,
      keyboard: true,
      loop: true,
      loopedSlides: 5,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
        renderFraction: function(currentClass, totalClass) {
          return 'Image <span class="' + currentClass + '"></span>' +
            ' of ' +
            '<span class="' + totalClass + '"></span>';
        }
      },
    };
    var thumbOptions = {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 1,
      loop: true,
      loopedSlides: 5,
      slideToClickedSlide: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        425: {
          slidesPerView: 2
        },
        768: {
          slidesPerView: 3
        }
      }
    };

    var galleryTop = new Swiper(topGalleryDiv, topOptions);
    var galleryThumbs = new Swiper(thumbGalleryDiv, thumbOptions);
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;

    var mobileSelect = document.querySelector('.mobile-navigation select');
    mobileSelect.addEventListener('change', function() {
      var selectVal = mobileSelect.value;
      var activePanel = document.querySelector('.tab-panel.active');
      var findRightPanel = document.querySelector('.tab-panel[data-mobile-target="'+selectVal+'"]');

      activePanel.classList.remove('active');
      findRightPanel.classList.add('active');
    });

  }

  // Product Page desktop
  var desktopProductPg = document.querySelectorAll('.product-row.desktop');
  if (desktopProductPg.length > 0) {
    // Build Accordion
    var getH5 = document.querySelectorAll('.product-description h5');
    var jsDescriptionGrab = document.querySelector('.js-description-grab');
    for (var i = 0; i < getH5.length; i++) {
      var insideH5 = getH5[i].innerHTML;
      var getSibling = getH5[i].nextElementSibling.innerHTML;
      var accordion = document.createElement('div');
      var block = document.createElement('div');
      var pane = document.createElement('div');
      jsDescriptionGrab.appendChild(accordion)
      accordion.appendChild(block);
      accordion.appendChild(pane);
      accordion.classList.add('accordion');
      block.classList.add('block');
      pane.classList.add('pane');
      block.innerHTML = insideH5+'<span>+</span>';
      pane.innerHTML = getSibling;

      getH5[i].innerHTML = ''
      getH5[i].nextElementSibling.innerHTML = ''
    }
    var initAccordion = document.querySelectorAll('.accordion');
    for (var i = 0; i < initAccordion.length; i++) {
      initAccordion[i].addEventListener('click', function(e) {
        var target = e.target.closest('.block');
        var pane = target.nextElementSibling;
        var paneHeight = pane.clientHeight;
        var isOpen = pane.classList.contains('js-open');
        var duration = { duration: 500 };
        var openOptions = {
          height: paneHeight,
          visibility: 'visible',
          opacity: 1
        };
        var addMargin = {
          marginBottom: paneHeight
        };
        var closeOptions = {
          height: 'auto',
          visibility: 'hidden',
          opacity: 0
        };
        var removeMargin = {
          marginBottom: 0
        };

        if (isOpen === false) {
          pane.classList.add('js-open');
          target.velocity(addMargin, duration);
          pane.velocity(openOptions, duration);
        } else {
          pane.classList.remove('js-open');
          target.velocity(removeMargin, duration);
          pane.velocity(closeOptions, duration);
        }
     });
    }

    // QTY adjust
    var adjustBtn = document.querySelectorAll('.qty-wrapper .adjust');
    for (var i = 0; i < adjustBtn.length; i++) {
      adjustBtn[i].addEventListener('click', function() {
        var dataChange = parseInt(this.dataset.change);
        var qtyInput = document.querySelector('.qty-wrapper .quantity');
        var qtyVal = parseInt(qtyInput.value);
        var newVal = Math.abs(dataChange + qtyVal);
        if (qtyVal === 1) {
          if (dataChange === 1) {
            qtyInput.value = newVal;
          }
        } else {
          qtyInput.value = newVal;
        }
      });
    }

    // Add To Cart
    var addMainProduct = document.querySelector('#main-product-add');
    addMainProduct.addEventListener('click', function() {
      var variantId = document.querySelector('.option-wrapper .select-wrapper select').value;
      var inputQty = document.querySelector('.qty-wrapper .quantity').value;
      CartJS.addItem(variantId, inputQty);
    });

    // CTL Swatches
    var ctlSwatches = document.querySelectorAll('.color-wrapper .swatches .color-filter');
    var ctlSwatchLabel = document.querySelector('.color-wrapper .color-label span');
    for (var i = 0; i < ctlSwatches.length; i++) {
      ctlSwatches[i].addEventListener('click', function() {
        // Move Active Classes
        var dataColor = this.dataset.color;
        var findActiveSwatch = document.querySelector('.color-wrapper .swatches .color-filter.active');
        ctlSwatchLabel.innerHTML = dataColor;
        findActiveSwatch.classList.remove('active');
        this.classList.add('active');

        // Change info on Swatch Click
        var dataHandle = this.dataset.handle;
        var targetImg = this.closest('.first-half').querySelector('.image-container img');
        var firstOptionEdit = this.closest('.second-half').querySelector('.complete-look-option-1 .option-values-wrapper');
        var isSecondOption = this.closest('.second-half').querySelectorAll('.complete-look-option-2');
        var titleEdit = this.closest('.second-half').querySelector('.title');
        var submitBtn = this.closest('.second-half').querySelector('.ctl-submit');
        submitBtn.setAttribute('data-handle', dataHandle);
        if (isSecondOption.length > 0) {
          var secondOptionEdit = this.closest('.second-half').querySelector('.complete-look-option-2 .option-values-wrapper');
        }
        getAjax('{{shop.url}}/products/'+dataHandle, function(data) {
          var div = document.createElement('div');
          div.innerHTML = data;
          var getPhoto = div.querySelector('#ProductPhoto img');
          var photoSrc = getPhoto.src;
          targetImg.setAttribute('srcset', photoSrc);
          targetImg.src = photoSrc;
          // JSON grab
          var findJSON = div.querySelector('#ProductJson');
          var productVariants = JSON.parse(findJSON.innerHTML).variants;
          var productTitle = JSON.parse(findJSON.innerHTML).title;
          var productId = JSON.parse(findJSON.innerHTML).id;
          titleEdit.innerHTML = productTitle;
          submitBtn.setAttribute('data-product-id', productId);
          var numberSize = [];
          var letterSize =[];
          for (var i = 0; i < productVariants.length; i++) {
            //Adds to the associated array
            numberSize.push(productVariants[i].option1);
            letterSize.push(productVariants[i].option2);
          }
          var newNumSize = numberSize.unique();
          var newLetterSize = letterSize.unique();
          // First Option
          firstOptionEdit.innerHTML = ''
          for (var i = 0; i < newNumSize.length; i++) {
            var items = document.createElement('div');
            firstOptionEdit.appendChild(items);
            items.classList.add('option-selects');
            items.setAttribute('value', newNumSize[i]);
            items.innerHTML = newNumSize[i];
            firstOptionEdit.firstChild.classList.add('active');
          }
          // Add Event Listener after wipe
          var firstOption = document.querySelectorAll('.complete-look-option-1 .option-selects');
          for (var i = 0; i < firstOption.length; i++) {
            firstOption[i].addEventListener('click', function() {
              findActiveOption = this.closest('.option-values-wrapper').querySelector('.option-selects.active');
              findActiveOption.classList.remove('active');
              this.classList.add('active');

              var optVal = this.getAttribute('value');
              var setVal = this.closest('.second-half').querySelector('.ctl-submit').setAttribute('data-option1', optVal);
            });
          }
          // Second Option
          if (isSecondOption.length > 0) {
            secondOptionEdit.innerHTML = '';
            for (var i = 0; i < newLetterSize.length; i++) {
              var items = document.createElement('div');
              secondOptionEdit.appendChild(items);
              items.classList.add('option-selects');
              items.setAttribute('value', newLetterSize[i]);
              items.innerHTML = newLetterSize[i];
              secondOptionEdit.firstChild.classList.add('active');
            }
            // Add Event Listener after wipe
            var secondOption = document.querySelectorAll('.complete-look-option-2 .option-selects');
            for (var i = 0; i < secondOption.length; i++) {
              secondOption[i].addEventListener('click', function() {
                findActiveOption = this.closest('.option-values-wrapper').querySelector('.option-selects.active');
                findActiveOption.classList.remove('active');
                this.classList.add('active');

                var optVal = this.getAttribute('value');
                var setVal = this.closest('.second-half').querySelector('.ctl-submit').setAttribute('data-option2', optVal);
              });
            }
          }
        });
      });
    }

    // CTL Size Selector
    var firstOption = document.querySelectorAll('.complete-look-option-1 .option-selects');
    for (var i = 0; i < firstOption.length; i++) {
      firstOption[i].addEventListener('click', function() {
        findActiveOption = this.closest('.option-values-wrapper').querySelector('.option-selects.active');
        findActiveOption.classList.remove('active');
        this.classList.add('active');

        var optVal = this.getAttribute('value');
        var setVal = this.closest('.second-half').querySelector('.ctl-submit').setAttribute('data-option1', optVal);
      });
    }
    var isSecondOption = document.querySelectorAll('.complete-look-option-2');
    if (isSecondOption.length > 0) {
      var secondOption = document.querySelectorAll('.complete-look-option-2 .option-selects');
      for (var i = 0; i < secondOption.length; i++) {
        secondOption[i].addEventListener('click', function() {
          findActiveOption = this.closest('.option-values-wrapper').querySelector('.option-selects.active');
          findActiveOption.classList.remove('active');
          this.classList.add('active');

          var optVal = this.getAttribute('value');
          var setVal = this.closest('.second-half').querySelector('.ctl-submit').setAttribute('data-option2', optVal);
        });
      }
    }

    // CTL Add To Cart
    ctlSubmit = document.querySelectorAll('.ctl-submit');
    for (var i = 0; i < ctlSubmit.length; i++) {
      ctlSubmit[i].addEventListener('click', function(e) {
        e.preventDefault();
        var dataHandle = this.dataset.handle;
        var productId = this.getAttribute('data-product-id');
        if (this.getAttribute('data-option1') != null) {
          var option1 = this.getAttribute('data-option1');
        } else {
          alert('Please click on your first desired size');
          return false;
        }
        var isOption2 = this.closest('.second-half').querySelectorAll('.complete-look-option-2');
        if (isOption2.length > 0) {
          if (this.getAttribute('data-option2') != null) {
            var option2 = this.getAttribute('data-option2');
          } else {
            alert('Please click on your second desired size');
            return false;
          }
        }
        var qty = this.closest('.quantity-and-button').querySelector('.quantity').value;
        var selectedVariant = {
          0:null,
          1:null,
          2:null
        };
        if(option1 != ''){
          selectedVariant[0] = option1;
        }
        if(option2 != ''){
          selectedVariant[1] = option2;
        }

        getAjax('{{shop.url}}/products/'+dataHandle, function(data) {
          var div = document.createElement('div');
          div.innerHTML = data;
          var getJSON = div.querySelector('#ProductJson');
          var json = JSON.parse(getJSON.innerHTML);
          var getVariants = json.variants;
          for (var i = 0; i < getVariants.length; i++) {
            var testOption1 = getVariants[i].option1;
            var testOption2 = getVariants[i].option2;
            var testOption3 = getVariants[i].option3;

            if(selectedVariant[0] == testOption1 && selectedVariant[1] == testOption2 && selectedVariant[2] == testOption3){
              found = true;
              selectedVariant = getVariants[i];
              break;
            }
          }
          CartJS.addItem(selectedVariant.id, qty);
        });
      });
    }
  }
});
