<nav class="desktop-header s-hide m-hide">
  <div class="logo">
    <a href="{{ shop.url }}">
      <img src="{{ logo | img_url:'master' }}" alt="{{ logo_alt }}">
    </a>
  </div>
  <div class="main-menu">
    <ul>
      {%- for link in linklists['main-menu'].links -%}
        <li class="menu-item" data-handle="{{link.handle}}">{{ link.title | link_to: link.url }}</li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="options">
    <div class="account">
      {% if customer %}
          <a href="/account"><img src="{{ 'account.png' | asset_url }}" alt="My Account"></a>
        {% else %}
          <a href="/account"><img src="{{ 'account.png' | asset_url }}" alt="My Account"></a>
        {% endif %}
    </div>
    <div class="cart">
      <a href="/cart" id="CartLink" data-trigger="popup" data-target="#PopupCart.popup" aria-controls="Cart" aria-expanded="false" class="cart-icon">
        {%- if cart.item_count > 0 -%}
          <span data-cart-item-count>{{ cart.item_count }}</span>
        {%- endif -%}
        <img src="{{ 'cart.png' | asset_url }}" alt="Cart">
      </a>
    </div>
    {%- if enable_search == true -%}
      <div class="search js-search">
        <a class="desktop-search">
          <img src="{{ 'search.png' | asset_url }}" alt="Search">
        </a>
      </div>
    {%- endif -%}
  </div>
  {%- include 'desktop-header-slider' -%}
</nav>
