<li class="tab-panel active" data-mobile-target="before-n-after">
  <div class="before-after-container">
    <div class="swiper-container gallery-top">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="img-container">
              <img src="{{ block.settings.img_feat | img_url:'master' }})" alt="{{ block.settings.img_feat }})">
            </div>
            <div class="info">
              <p><strong>Before:</strong> {{ block.settings.before }}</p>
              <p><strong>After:</strong> {{ block.settings.after }}</p>
            </div>
          </div>
        {%- endfor -%}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-black"></div>
      <div class="swiper-button-prev swiper-button-black"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="img-container">
              <img src="{{ block.settings.img_feat | img_url:'master' }}" alt="{{ block.settings.img_feat }}">
            </div>
          </div>
        {%- endfor -%}
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-black"></div>
      <div class="swiper-button-prev swiper-button-black"></div>
    </div>
  </div>
</li>
{% schema %}
  {
    "name": "Before and After",
    "max_blocks": 30,
    "blocks": [
      {
        "type": "before-after-block",
        "name": "Before n After Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "img_feat",
            "label": "Before and after Image"
          },
          {
            "type": "text",
            "id": "before",
            "label": "Before Text"
          },
          {
            "type": "textarea",
            "id": "after",
            "label": "After Text"
          }
        ]
      }
    ]
  }
{% endschema %}
