<!-- sections/template-product.liquid -->

{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if current_variant.compare_at_price > current_variant.price %}
  {% assign on_sale = true %}
{% endif %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

<section class="product-pg">
  <div class="container xl" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    {%- include 'product-desktop' -%}
    {%- include 'product-mobile' -%}
  </div>
</section>
