<!-- /snippets/theme-header.liquid -->
{% assign settings = section.settings %}
{% assign enable_banner = settings.enable_banner %}
{% assign banner_text = settings.banner_text %}
{% assign banner_bg = settings.banner_bg %}
{% assign banner_text_col = settings.banner_text_col %}
{% assign header_bg = settings.header_bg %}
{% assign logo = settings.logo %}
{% assign logo_alt = settings.logo_alt %}
{% assign menu_color = settings.menu_color %}
{% assign enable_search = settings.enable_search %}
<style>
  .banner {
    background: {{ banner_bg }};
  }
  .banner p {
    color: {{ banner_text_col }};
  }
  .main-header,
  .mobile-header {
    background: {{ header_bg }};
  }
  .menu-item a {
    color: {{ menu_color }};
  }
</style>
<header class="theme-header" role="banner">
  {%- if enable_banner == true -%}
    <div class="banner">
      <div class="container l">
        <p>{{ banner_text }}</p>
      </div>
    </div>
  {%- endif -%}
  {%- include 'header-desktop' -%}
  <div class="mobile-header">
    <div class="menu" id="menuTrigger">
      <input type="checkbox" id="change-hamburguer" />
      <a class="hamburguer" href="#">
        <span></span>
        <label for="change-hamburguer"></label>
      </a>
    </div>
    <div class="logo">
      <a href="/">
        <img src="{{ logo | img_url:'master' }}" alt="{{ logo_alt }}">
      </a>
    </div>
    <ul class="menu-options">
      <li>
        <a href="/account">
          <img src="{{ 'ACCOUNT.png' | asset_url }}" alt="My Account">
        </a>
      </li>
      <li>
        <a href="/cart">
          <img src="{{ 'CART.png' | asset_url }}" alt="My Cart">
        </a>
      </li>
      {%- if enable_search == true -%}
        <li>
          <a class="search-btn">
            <img src="{{ 'SEARCH.png' | asset_url }}" alt="Search">
          </a>
        </li>
      {%- endif -%}
    </ul>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "checkbox",
        "id": "enable_banner",
        "label": "Enable banner",
        "default": true
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text",
        "default": "Free Shipping on orders over $1"
      },
      {
        "type": "color",
        "id": "banner_bg",
        "label": "Banner Background",
        "default": "#eeeeee"
      },
      {
        "type": "color",
        "id": "banner_text_col",
        "label": "Banner Text Color",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "color",
        "id": "header_bg",
        "label": "Header Background",
        "default": "#fff"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "logo_alt",
        "label": "Alt Tag for Logo",
        "default": "Le Mystere"
      },
      {
        "type": "color",
        "id": "menu_color",
        "label": "Menu Text Color",
        "default": "#000"
      },
      {
        "type": "checkbox",
        "id": "enable_search",
        "label": "Enable Search",
        "default": true
      }
    ]
  }
{% endschema %}
